/ {
    leds {
      compatible = "gpio-leds";
      /* NOTE: Each GPIO port has 32 pins, [0, 31], so pin numbers >= 32 are gpio1. */
      led0: led_0 {
        gpios = <&gpio1 42 0>;
        label = "LED1";
      };
      led1: led_1 {
        gpios = <&gpio1 45 0>;
        label = "LED2";
      };
      led2: led_2 {
        gpios = <&gpio1 32 0>;
        label = "LED3";
      };
      motor0: motor_0 {
        gpios = <&gpio0 13 0>;
        label = "GPIO pin";
      };
      motor1: motor_1 {
        gpios = <&gpio0 15 0>;
        label = "GPIO pin";
      };
      motor2: motor_2 {
        gpios = <&gpio0 24 0>;
        label = "GPIO pin";
      };
    };

    buttons {
      button0: button_0 {
        gpios = <&gpio0 31 GPIO_PUD_PULL_UP>;
        label = "Push button 'Button 1'";
      };
      button1: button_1 {
        gpios = <&gpio0 30 GPIO_PUD_PULL_UP>;
        label = "Push button 'Button 2'";
      };
      button2: button_2 {
        gpios = <&gpio0 29 GPIO_PUD_PULL_UP>;
        label = "Push button 'Button 3'";
      };
      button3: button_3 {
        gpios = <&gpio1 47 GPIO_PUD_PULL_UP>;
        label = "Push button 'Button 4'";
      };
      button4: button_4 {
        gpios = <&gpio0 2 GPIO_PUD_PULL_UP>;
        label = "GPIO pin";
      };
    };

    aliases {
      led-r-en = &led0;
      led-g-en = &led1;
      led-b-en = &led2;
      rev-trig-sw = &button0;
      plunger-trig-sw = &button1;
      plunger-sw = &button2;
      drum-detect-sw = &button3;
      jam-door-sw = &button4;
      rev-en = &motor0;
      plunger-en = &motor1;
      vibe-en = &motor2;
    };
};

/* Increase the priority of the GPIOTE interrupt. */
&gpiote {
  interrupts = <6 0>;
};
